@media screen and (max-width:1366px) {

    /*Screens such as: 
    tab
    */
    /*1366px or less than 1366px*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }

    .content-box-md {
        padding: 120px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    .text-navbar {
        text-align: center;
        font-size: 34px;
        padding: 10px;
        transition: all .3s ease-in-out;
    }

    .navigation-wrapper {
        padding-top: 30px;
    }

    .text-navbar:hover:before {
        display: inline-block;
        transform: translate(390px, 15px);
        opacity: 1;
    }

    /*************************************************
        ACCOMPLISHMENT SECTION
    *************************************************/
    .experience {
        width: 410px;
    }
}

@media screen and (max-width:1200px) {

    /*Screens such as: 
    tab
    */
    /*1200 or less than 1200*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }

    .content-box-md {
        padding: 80px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    .text-navbar {
        text-align: center;
        font-size: 32px;
        padding: 20px;
        transition: all .3s ease-in-out;
    }

    .navigation-wrapper {
        padding-top: 30px;
    }

    .text-navbar:hover:before {
        display: inline-block;
        transform: translate(390px, 13px);
        opacity: 1;
    }

    .vertical-bold {
        font-size: 42px;
    }

    .about-wrapper {
        display: block;
    }

    .about-details {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .about-media {
        width: auto;
        margin: auto;
    }

    .about-me {
        display: flex;
        justify-content: center;
    }

    .image-container {
        display: flex;
        justify-content: center;

    }

    .accomplishment-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-wrapper {
        flex-wrap: wrap;
    }

    .contact-details,
    .contact-form {
        width: 100%;
    }
}

@media screen and (max-width:992px) {

    /*Screens such as: 
    tab
    */
    /*992 or less than 992*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .head-2 {
        font-size: 48px;
    }

    .content-box-md {
        padding: 60px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    .text-navbar {
        text-align: center;
        font-size: 32px;
        padding: 20px;
        transition: all .3s ease-in-out;
    }

    .navigation-wrapper {
        padding-top: 30px;
    }

    .text-navbar:hover:before {
        display: inline-block;
        transform: translate(340px, 13px);
        opacity: 1;
    }

    .vertical-bold {
        /* font-size: 38px; */
    }

    .w-7 {
        width: 10%;
    }

    .w-93 {
        width: 90%;
    }

    /*************************************************
        Travel SECTION
    *************************************************/

    #travel .section-wrapper {
        height: 600px;
    }

    .content1 {
        height: 160px;
        width: 500px;
        z-index: 55;

    }

    .content {
        height: 360px;
        width: 500px;
        background: var(--passthroughWhite10);
        border-radius: 8px;

    }

    .next {
        position: absolute;
        top: 120px;
        right: -11%;
        z-index: 88;
        width: 40px;
        height: 100px;
        background: var(--primaryBlue);
        cursor: pointer;
    }

    .fa-angle-right:before {
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .prev {
        position: absolute;
        top: 120px;
        right: 103.5%;
        z-index: 88;
        width: 40px;
        height: 100px;
        background: var(--primaryBlue);
        cursor: pointer;
    }

    .fa-angle-left:before {
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .slick-dots li.slick-active button:before {
        color: #fff;
        font-family: 'slick';
        font-size: 9px;
    }
}

@media screen and (max-width:768px) {

    /*Screens such as: 
    tab
    */
    /*768 or less than 768*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .content-box-md {
        padding: 50px 0;
    }

    .row {
        width: fit-content;
    }

    .text-navbar {
        text-align: center;
        font-size: 28px;
        padding: 15px;
        transition: all .3s ease-in-out;
    }

    .navigation-wrapper {
        padding-top: 35px;
    }

    .text-navbar:hover:before {
        display: inline-block;
        transform: translate(250px, 13px);
        opacity: 1;
    }

    .vertical-bold {
        font-size: 32px;
    }

    .vertical-section-odd .parent-span {
        left: -140px;
    }

    .vertical-section-even .parent-span {
        right: -160px;
    }

    /*************************************************
        Travel SECTION
    *************************************************/

    #travel .section-wrapper {
        /* height: 100vh; */
    }

    .content1 {
        height: 160px;
        width: 500px;
        z-index: 55;

    }

    .content {
        height: 360px;
        width: 500px;
        background: var(--passthroughWhite10);
        border-radius: 8px;

    }

    .next {
        position: absolute;
        top: 120px;
        right: -11%;
        z-index: 88;
        width: 40px;
        height: 100px;
        background: var(--primaryBlue);
        cursor: pointer;
    }

    .fa-angle-right:before {
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .prev {
        position: absolute;
        top: 120px;
        right: 103.5%;
        z-index: 88;
        width: 40px;
        height: 100px;
        background: var(--primaryBlue);
        cursor: pointer;
    }

    .fa-angle-left:before {
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .slick-dots li.slick-active button:before {
        color: #fff;
        font-family: 'slick';
        font-size: 9px;
    }

    /*************************************************
        Testimony SECTION
    *************************************************/
    .testimony {
        margin: auto;
        width: 500px;
    }

    .blockquote-icon {
        padding: 15px;
        background-color: var(--passthroughWhite10);
        display: inline-block;
        border-radius: 50%;
        justify-content: center;
        /* margin: 5px 0 35px 235px; */
    }

    .message {
        border: solid 1px var(--passthroughWhite50);
        padding: 20px;
        border-radius: 30px 30px 0 30px;
        margin: 5px;
        color: #fff;
        text-align: justify;
    }


}

@media screen and (max-width:500px) {

    /*Screens such as: 
    one plus
    */
    /*500 or less than 500*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .home-container {
        line-height: 50px;
        width: 70%;
    }

    .head-1 {
        font-size: 24px;
        line-height: 8px;
    }

    .head-2 {
        font-size: 32px;
        /* line-height: 18px; */
        padding-top: 20px;
    }

    .content-box-md {
        padding: 30px;
    }

    #travel .content-box-md {
        padding: 30px 0;
    }

    .vertical-section-name {
        display: none;
    }

    .text-navbar {
        text-align: center;
        font-size: 28px;
        padding: 13px;
        transition: all .3s ease-in-out;
    }

    .navigation-wrapper {
        padding-top: 100px;
    }

    .text-navbar:hover:before {
        display: inline-block;
        transform: translate(250px, 13px);
        opacity: 1;
    }

    .w-7 {
        display: none;

    }

    .w-93 {
        width: 100%;
    }

    .contact-details {
        width: 95%;
        display: none;
    }

    .contact-form {
        width: 100%;
    }

    .icon-name {
        padding-left: 10px;
    }

    .btn-container {
        padding: 20px 0;
    }

    .section-title {
        font-size: 22px;
        font-weight: bold;
    }

    /*************************************************
        Travel SECTION
    *************************************************/
    #travel .section-wrapper {
        height: 75vh;
    }

    .content1 {
        height: 160px;
        width: 350px;
        z-index: 55;

    }

    .content {
        height: 360px;
        width: 350px;
        background: var(--passthroughWhite10);
        border-radius: 8px;

    }

    .next {
        position: absolute;
        top: 120px;
        right: -2.5%;
        z-index: 88;
        width: 30px;
        height: 100px;
        background: var(--primaryBlue);
        cursor: pointer;
    }

    .fa-angle-right:before {
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .prev {
        position: absolute;
        top: 120px;
        right: 94%;
        z-index: 88;
        width: 30px;
        height: 100px;
        background: var(--primaryBlue);
        cursor: pointer;
    }

    .fa-angle-left:before {
        font-size: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    /*************************************************
        Testimony SECTION
    *************************************************/
    .testimony {
        margin: auto;
        width: 310px;
    }

    .blockquote-icon {
        padding: 15px;
        background-color: var(--passthroughWhite10);
        display: inline-block;
        border-radius: 50%;
        justify-content: center;
        /* margin: 5px 0 5px 135px; */
    }

    .message {
        border: solid 1px var(--passthroughWhite50);
        padding: 20px;
        border-radius: 30px 30px 0 30px;
        margin: 5px;
        color: #fff;
        text-align: justify;
    }


}

@media screen and (max-width:400px) {

    /*400 or less than 400*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content-box-md {
        padding: 30px 0;
    }

    .vertical-section-name {
        display: none;
    }

    .text-navbar {
        text-align: center;
        font-size: 22px;
        padding: 7px;
        transition: all .3s ease-in-out;
    }

    .navigation-wrapper {
        padding-top: 100px;
    }

    .text-navbar:hover:before {
        display: inline-block;
        transform: translate(200px, 20px);
        opacity: 1;
    }

    .contact-details {
        display: none;
    }

    .btn-container {
        padding: 20px 0;
    }

    .section-title {
        font-size: 22px;
        font-weight: bold;
    }

    /*************************************************
        TRAVEL SECTION
    *************************************************/
    #travel .section-wrapper {
        height: 75vh;
    }

    .content1 {
        height: 160px;
        width: 300px;
        z-index: 55;
    }

    .content {
        height: 360px;
        width: 300px;
        background: var(--passthroughWhite10);
        border-radius: 8px;

    }

    /*************************************************
        Testimonial SECTION
    *************************************************/
    .testimony {
        margin: auto;
        width: 280px;
    }

    .blockquote-icon {
        padding: 15px;
        background-color: var(--passthroughWhite10);
        display: inline-block;
        border-radius: 50%;
        justify-content: center;
        /* margin: 5px 0 5px 135px; */
    }

    .message {
        border: solid 1px var(--passthroughWhite50);
        padding: 20px;
        border-radius: 30px 30px 0 30px;
        margin: 5px;
        color: #fff;
        text-align: justify;
    }

}

@media screen and (max-width:340px) {

    /*************************************************
        TRAVEL SECTION
    *************************************************/
    #travel .section-wrapper {
        height: 75vh;
    }

    .content1 {
        height: 160px;
        width: 260px;
        z-index: 55;
    }

    .content {
        height: 360px;
        width: 260px;
        background: var(--passthroughWhite10);
        border-radius: 8px;

    }

    /*************************************************
        Testimonial SECTION
    *************************************************/
    .testimony {
        margin: auto;
        width: 260px;
    }

    .blockquote-icon {
        padding: 15px;
        background-color: var(--passthroughWhite10);
        display: inline-block;
        border-radius: 50%;
        justify-content: center;
        /* margin: 5px 0 5px 135px; */
    }

    .message {
        border: solid 1px var(--passthroughWhite50);
        padding: 20px;
        border-radius: 30px 30px 0 30px;
        margin: 5px;
        color: #fff;
        text-align: justify;
    }
}
