#navbar .s-dash {
    display: block;
    padding: 1.15px 17px;
    background: rgba(13, 25, 32, 0.97);
    height: 1px;
    margin: 10.1px;
    border-radius: 10px;
}

#navbar a {
    text-decoration: none;
    color: unset;
}

.nav-icon {
    display: inline-block;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    padding: 15px 12px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#navigation-panel {
    background: rgba(13, 25, 32, 0.97);
    color: var(--passthroughWhite50);
    height: 0vh;
    overflow: hidden;
}
.text-navbar{
    text-transform: uppercase;
    letter-spacing: 10px;
}
.text-navbar:before {
    content: '';
    padding: 30px 10px;
    margin-right: 15px;
    background: #fff;
    display: inline-block;
    transform: translateY(10px);
    opacity: 0;
    transition: all .3s ease-in;
}

.text-navbar:hover {
    color: #fff;
}

.text-navbar:hover:before {
    display: inline-block;
    transform: translate(540px, 15px);
    opacity: 1;
}

.text-navbar {
    text-align: center;
    font-size: 38px;
    padding: 20px;
    margin-left: -40px ;
    transition: all .3s ease-in-out;
}

.navigation-wrapper {
    padding-top: 30px;
}