/*******************************************************************************
                                GLOBAL CSS
*******************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', 'sans-serif';
    overflow-x: hidden;
}

:root {
    --primaryBlue: #18242B;
    --secondaryBlue: #0D1920;
    --passthroughWhite50: rgba(255, 255, 255, 0.5);
    --passthroughWhite10: rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none;
}

::selection {
    /* color: var(--offWhite); */
    background: var(--passthroughWhite10);
}

::-webkit-scrollbar {
    /* width: 15px;
    border-radius: 5px; */
}

::-webkit-scrollbar-track {
    /* background-color: rgba(0, 0, 0, 0.1); */
}

::-webkit-scrollbar-thumb {
    /* background: var(--grey); */
    /* border-radius: 50px; */
}

/*******************************************************************************
                                GENERAL CSS
*******************************************************************************/
.row {
    display: flex;
}

.bg-primary {
    background-color: var(--primaryBlue);
}

.bg-secondary {
    background-color: var(--secondaryBlue);
}

.vertical-section-odd,
.vertical-section-even {
    background-color: var(--passthroughWhite10);
    color: var(--passthroughWhite50);
}

.vertical-section-odd .parent-span {
    height: 100px;
    padding: 10px 0 10px 200px;
    position: absolute;
    left: -170px;
    top: 50%;
    transform: rotate(-90deg);
}

.vertical-section-even .parent-span {
    height: 100px;
    padding: 10px 0 10px 200px;
    position: absolute;
    right: -195px;
    top: 35%;
    transform: rotate(90deg);
}

.vertical-bold {
    font-weight: bold;
    font-size: 46px;
}

.vertical-text {
    font-weight: 200;
    text-transform: capitalize;
}

.section-wrapper {
    display: flex;
    position: relative;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.btn {
    background: var(--passthroughWhite10) !important;
    border: solid 1.5px var(--passthroughWhite50);
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background: #fff !important;
    border: solid 1.5px transparent;
    color: var(--primaryBlue);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-container {
    margin: 40px 0px;
}

.w-7 {
    width: 7%;
}

.w-93 {
    width: 93%;
}

.section-title {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    color: var(--passthroughWhite50);
    padding-bottom: px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}


/*******************************************************************************
                                Loader CSS
*******************************************************************************/
.loader-wrapper {
    background:var(--secondaryBlue);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999999999
}

.loader {
    position: relative;
    width: 80px;
    height: 67px;
    margin: auto;
    /* margin-left: 20px; */
}
.spinner {
    /* margin: 100px auto; */
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    display: inline-block;
    animation: rotate 2.0s infinite linear;
    margin-left: 25px ;
  }
  
  .dot1, .dot2, .dot3 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    animation: bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0px;
    animation-delay: -1.0s;
  }
  .dot3 {
    top: auto;
    bottom: 35px;
    animation-delay: -1.0s;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(0.0);
    }
    
    50% {
      transform: scale(1.0);
    }
  }

/*******************************************************************************
                                HOME CSS
*******************************************************************************/
.home-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/home-img/travel-5-1.png");
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 65px;

}

.head-1 {
    font-size: 35px;
    color: #fff;
    font-weight: 300;
}

.head-2 {
    font-size: 55px;
    color: #fff;
    font-weight: 300;

}

.head-3 {
    font-size: 35px;
    color: #fff;
    font-weight: 300;

}

.bold {
    font-weight: 600;

}

.social-links {
    padding: 10px;
    margin-top: 30px;
    background: #fff;
    border-radius: 50px;
    width: 100px;
    opacity: 0.6;
    display: flex;
}

.social-links .fa {
    font-size: 18px;
    margin-left: 15px;
    color: var(--secondaryBlue);
}
/* Scroll */
.scroll-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
   
}
.arrow-container{
    position: relative;
    width: 24px;
    height: 24px;

}
.arrow-text{
    display: block;
    margin: 75px 0 0 -30px;
    font-size: 12px;
    color: #fff;
    animation: pulse 2s linear alternate infinite;
    
}
@keyframes pulse{
to{
    opacity:1;
}
}
.arrow{
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5,0.5,0.5);
    animation: move 3s ease-in-out infinite;
    cursor: pointer;
    transition: 3s ease;
}
.arrow:first-child{
    animation: move 3s ease-in-out 1s infinite;
}
.arrow:nth-child(2){
    animation: move 3s ease-in-out 2s infinite;
}
.arrow:before,
.arrow:after{
    content: '';
    position: absolute;
    top: 0;
    background: #fff;
    height: 100%; width: 51%;
}
.arrow::before{
    left:0;
    transform: skew(0deg,30deg);
}
.arrow:after{
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes move{
    25%{
        opacity: 1;
    }
    33%{
        opacity: 1;
        transform: translateY(30px);
    }
    67%{
        opacity: 1;
        transform: translateY(40px);
    }
    100%{
        opacity: 0;
        transform: translateY(55px) scale3d(0.5,0.5,0.5);
    }
}
/*******************************************************************************
                                ABOUT CSS
*******************************************************************************/
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-details {
    width: 71%;
    margin: auto 0;
    padding: 0 50px 0 0;
}

.about-media {
    width: 29%;
    margin: auto 0;
}

.about-me {
    font-size: 17px;
    color: var(--passthroughWhite50);
    text-align: justify;
}

.about-name {
    font-size: 17px;
    color: var(--passthroughWhite50);
    padding-top: 30px;
}

.about-img {
    border: solid 30px var(--passthroughWhite10);
}

/*******************************************************************************
                                TRAVEL CSS
*******************************************************************************/
#travel .section-wrapper {
    /* height: 100vh; */
}
.desination-name{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.content1 {
    margin: auto;
    height: 360px;
    width: 580px;
    z-index: 55;
}

.content {
    height: 360px;
    width: 580px;
    background: var(--passthroughWhite10);
    border-radius: 8px;

}

.image img {
    /* border: 1px solid red; */
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 310px;
}

.image p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #fff;
}

.next {
    position: absolute;
    top: 120px;
    right: -11%;
    z-index: 88;
    width: 40px;
    height: 110px;
    background: var(--passthroughWhite10);
    cursor: pointer;
}

.fa-angle-right:before {
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.prev {
    position: absolute;
    top: 120px;
    right: 104%;
    z-index: 88;
    width: 40px;
    height: 110px;
    background: var(--passthroughWhite10);
    cursor: pointer;

}

.fa-angle-left:before {
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.slick-dots li.slick-active button:before {
    color: #fff;
    font-family: 'slick';
    font-size: 9px;
}
.slick-dots li button{
    color: var(--passthroughWhite10);
}
/*******************************************************************************
                             ACCOMPLISHMENT CSS
*******************************************************************************/
#accomplishment .section-wrapper {
    /* height: 100vh; */
}

.accomplishment-wrapper {
    display: flex;
    justify-content: space-around;
}

.experience {
    background: var(--passthroughWhite10);
    color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    margin: 10px;
    width: 450px;
}

.experience-header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
}

.experience-tile {
    color: var(--passthroughWhite50);
    padding-bottom: 25px;
}

.experience-detail {
    font-size: 16px;
}

.experience-task {
    padding: 20px 0 10px;
}

.experience-task-list {
    padding-left: 20px;
}

/*******************************************************************************
                             TESTIMONIAL CSS
*******************************************************************************/
#testimonial .section-wrapper {
    /* height: 100vh; */
}

.testimony {
    margin: auto;
    width: 600px;
}
.testi-wrapper{
    position: relative;
}
.blockquote-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}
.blockquote-icon {
    padding: 20px;
    background-color: var(--passthroughWhite10);
    display: inline-block;
    border-radius: 50%;
    /* justify-content: center; */
    /* margin: 10px 0 30px 269px; */
}

.message {
    border: solid 1px var(--passthroughWhite50);
    padding: 40px;
    border-radius: 30px 30px 0 30px;
    margin: 10px;
    color: #fff;
}

.fa-quote-right {
    font-size: 22px;
    color: #fff;
}

.testimony-name {
    margin: 10px 10px 0 0px;
}

.message h4:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    margin-right: 10px;
}


/*******************************************************************************
                             CONTACT CSS
*******************************************************************************/
#contact .section-wrapper {
    /* height: 100vh; */
}

.contact-wrapper {
    display: flex;
}

.contact-details,
.contact-form {
    background-color: var(--passthroughWhite10);
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}

.icon-name {
    margin: auto 0;
    padding-left: 30px;
}

.icon-name a,
.icon-name p {
    text-decoration: none;
    color: #ffffff;
}

.icon-div {
    display: flex;
    margin: 50px 0;
}

.icon-container {
    background: var(--passthroughWhite50);
    border-radius: 50%;
    padding: 8px 10px;
}

.icon-container img {
    height: 30px;
}

.contact-form {
    width: 100%;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    border-style: none;
    border: solid 1px #ffffff;
}

.contact-form label {
    color: #ffffff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-family: 'Arial';
    font-size: 14px;
    color: #ffffff;
    background: transparent;
    border: solid 1px #ffffff;
    border-radius: 5px;
    resize: none;
}

.contact-form input::placeholder {
    color: #ffffff;
}

/*******************************************************************************
                             Footer CSS
*******************************************************************************/
#footer .links {
    display: flex;
    text-decoration: none;
}

.socials-links-footer {
    display: flex;
}

.footer-social {
    color: #ffffff;
    padding: 0 50px 0 10px;
    margin: auto 0;
}

.footer-header {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 20px 0;
}

.credits {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    letter-spacing: 4px;
    padding: 40px 0 20px 0;
}
.credits a{
    color: #fff;
    font-weight: bold;
}